<h1>All Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Overview</th>
      <th>Poster</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.overview %></td>
        <td><%= image_tag movie.poster_url %></td>
        <td><%= movie.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>
